* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 :focus,
 :active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    min-width: 800px;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-stye: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/* Start Header */

.title {
    font-family: 'Montserrat', sans-serif;
}

.content {
    width: 90%;
    margin: 0 auto;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.header__top {
    padding: 52px 0 0;
    display: flex;
    justify-content: space-between;
}

.header__burger {
    position: relative;
    width: 100px;
    height: 80px;
    cursor: pointer;
}

.header__burger::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #F9D401;
}

.header__burger>span {
    position: absolute;
    top: 39px;
    width: 100%;
    height: 3px;
    background-color: #F9D401;
}

.header__burger::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #F9D401;
}

.nav {
    position: fixed;
    width: 60%;
    height: 100%;
    top: 0;
    left: -480px;
    padding: 240px 0 0 42px;
    background-color: #B8A65C;
}

.nav__list {
    list-style: none;
}

.nav__items {
    line-height: 150px;
    font-size: 60px;
}

.nav__link {
    color: #F9D401;
}

.header__title {}

.header__bottom {}